.btnLink{    
    font-size: 0.75em;
    font-family:'Roboto';
    
    font-weight:500;
    color:#6B6D71; 
    border:solid 0px;
    background-color: #FFFFFF; 
    line-height:0.875em ;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
}

    
    



.btnLink:hover{
    background-color:#F0F2F5;
    border-radius: 0.9em;
    color:black;
} 